.topbar h6 {
    color:#ffffff!important;
}
.header .topbar {
    background-color: #6565EE;
}
.purple-btn {
    background-color: rgba(101, 101, 238, 1);
    color: #fff!important;
    padding: 8px 15px !important;
    border-radius: 8px;
}

.hero h1 {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
}
.hero {
    width: 100%;
    min-height: 75vh;
    position: relative;
    padding: 60px 0;
    display: flex;
    align-items: center;
    background: url(../img/slider-bg.png) top left;
    background-size: cover;
}
.login-btn {
    
    color: #6565EE;
    padding: 8px 15px !important;
    /* margin: 0px 15px; */
}
.get-btn {
    border: 1px solid #6565EE;
    color: #6565EE;
    padding: 10px 16px !important;
    border-radius: 8px;
    margin-right: 15px;
    font-weight: 600;
}
.get-btn:hover {
    border: 1px solid #6565EE;
    color: #ffffff;
    background-color: #6565EE;
    padding: 10px 16px !important;
    border-radius: 8px;
    margin-right: 15px;
    font-weight: 600;
}
.request-btn {
    color: #ffffff;
    background-color: #6565EE;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
}
.request-btn:hover {
    color: #ffffff;
    background-color: #6565EE;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
}
.slider-img {
    display: flex;
}
.blue-color {
    color: #2D2D82;
    font-weight: 600;
  }
  .login-class {
    color:#4848A9 !important;
  }
  .slider-img .slider-icon{
    align-self: center;
}
.slider-gif {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

@media (min-width: 600px) {
    .login-btn {
       
        color: #6565EE;
        padding: 10px 20px !important;
        /* margin:  10px!important; */
    }
    .navmenu a .purple-btn {
        padding: 10px 20px !important;
    }
    .black-nav {
        display: none;
    }
    .index-page #header .topbar {
        background-color: #6565EE!important;
        padding: 25px 0px !important;
        text-align: -webkit-center  !important;
    }
     .main .slider .slider-img img {
        margin: 10px!important;
    }
    .topbar {
        padding :30px;
    }
    .topbar-content {
        text-align: -webkit-center;
    }
 
  }

/* chat-icon */
#chat-icon {
    position: fixed;
    bottom: 50px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other content */
}

#chat-icon svg { 
    width: 90%; /* Adjust size of the SVG icon */
    height: 90%; /* Adjust size of the SVG icon */
}
/* chat-icon */
.education-solution {
    background-color: #EBEBFF;
    padding: 50px 0px;
}
.es-background {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    
}
.ed-img img {
  width: 100%;
}

.core-feature-section {
    padding: 50px 0px;
}

/* .main-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:92px;
    max-width: 1268px;
    margin-left:113px;
    padding: 20px;
} */

.loaddata .content {
    cursor: pointer;
    margin-bottom: 30px;
}

.loaddata h5 {
    transition: color 0.3s;
}
/* .loaddata p {
  padding-bottom: 20px;
} */
.loaddata .content:hover h5 {
    color: #6565EE;
}

.loadimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadimage img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.1s;
}

.loaddata hr {
    transition: background-color 0.3s, border-color 0.3s;
    border: 0;
    height: 1.3px;
    background-color: #000;
}

.loaddata .content:hover hr {
    background-color: #6565EE;
}
.core-feature img {
    /* width: 100%; */
    height: 400px;
    margin: 20px;
    text-align: center;
}
@media (max-width: 768px)  {
    .core-feature img {
        width: 100%;
        height: 350px!important;
    }
}

.sets-card {
    background-color: #E8F4FF;
}
.services .service-item {
    /* text-align: center; */
    border: 1px solid 
    color-mix(in srgb, var(--default-color), transparent 85%);
    padding: 20px 20px;
    transition: border ease-in-out 0.3s;
    height: 100%;
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .get-btn-footer {
    border: 1px solid #6565EE;
    color: #6565EE;
    padding: 8px 30px !important;
    /* border-radius: 20px; */
    margin-right: 15px;
}


.get-btn-footer:hover {
    border: 1px solid #6565EE;
    color: #ffffff;
    background-color: #6565EE;
    padding: 8px 30px !important;
    /* border-radius: 20px; */
    margin-right: 15px;
}
.request-btn-footer {
    color: #ffffff;
    background-color: #6565EE;
    padding: 10px 30px;
    /* border-radius: 20px; */
}
.request-btn-footer:hover {
    color: #ffffff;
    background-color: #6565EE;
    padding: 10px 30px;
    /* border-radius: 20px; */
}

.adv-LMS-section {
    background-color: #EBEBFF;
    padding: 50px 0px;
}
.footer {
    background-color: #25254C;
    color:#ffffff;
}
.footer h4 { 
    color:#8484F1;
}
.footer .footer-links ul i {
    color:#ffffff;
}
.footer .footer-links ul a {
    color: #ffffff;
}
.footer-border, .logo-content-section .row {
    border-bottom: 1px solid #3A3A6F;
}
.Address-content p a {
   color:#ffffff;
}
.social-con i {
    padding: 0px 10px;
    float: right;
}
/* .footer-img img {
    height: 60px;
} */
@media (max-width: 768px) {
   
   .footer .copyright {
    text-align: -webkit-center;
}
.navmenu a{
        margin: 0px 10px;
    }
}   


.Why-Choose-Cipher-Section{
    background-color: #CFCFFA;
    padding: 50px;
}
.title-content-card {
    border-radius: 25px;
    margin: 0px 5px;
    margin-bottom: 20px;    
}
.title-content-card .card-body{
    padding: 30px;
}
.cipher-title {
    text-align: -webkit-center;
}

.card-text {
    color: #727397;
}
.check-circle p {
    font-size: 12px;
    color: #394E6B;
}
.trust-title h6 {
   color:#3D3B54;
   font-size: 18px;
}
.cipher-title p{
  color:#3D3B54;
  font-size: 18px;
}
.title-content-card {
    color:#3D3B54;
    font-size: 16px;
}

.title-content-card h5{
    color:#2A2A64;
    font-weight: 600;
}

/* FAQs-section */
.FAQs-section {
    margin: 50px 0px;
}
.faqs p{
  color: #727397;
  font-size: 16px;
}


.FAQs-section  .accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: #fff;
    border-bottom: 1px solid #D8E0EA;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: #EDECF4;
}

.accordion-item {
    border-bottom: 1px solid #D8E0EA;
}
.accordion-collapse {
    background-color: #EDECF4;
}

.accordion-button:not(.collapsed) {
   
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 #EDECF4;
}
.contact-us-btn {
    background-color: #6565EE;
    color: #ffffff;
    padding: 12px 16px !important;
    border-radius: 8px;
}
.contact-us-btn:hover{
    background-color: #6565EE;
    color: #ffffff;
    padding: 12px 16px !important;
    border-radius: 8px;
}
.accordion-item  .accordion-collapse{
    border-bottom:none;
    }

/* FAQs-section */

/* our-solution-section-start*/
.our-solution {
    padding: 50px 0px;
}
.our-sol-tab {
    text-align: -webkit-center;
    border-radius: 10px;
    background-color: #EDECF4;
    padding: 15px;
    margin-bottom: 30px;
}
.our-sol-tab a{
    color: #53526f !important;
}
.our-sol-tab a:hover {
    background-color: #ffffff;
    color:#6565EE !important;
    padding: 12px 24px;
    border-radius: 10px;
}
.our-sol-tab a:active {
    background-color: #ffffff;
    color:#6565EE !important;
}
@media (max-width: 768px) {
    .our-sol-tab .sol-btn{
        margin-bottom: 30px!important;
    }
}
/* our-solution-section-end*/

/* latest-blog-section */

.latest-blog-section {
    padding: 50px 0px;
    background-color: #F2F2F8;  
}
.latest-title h3{
    color:#29273F;
}
.blog-card {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.view-blog-btn {
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid #6565EE;
    color:#6565EE;
    font-weight: 500;
}
.view-blog-btn:hover {
    color:#6565EE;
}
.lb-tags {
    display: flex;
    margin: 15px 0px;
}
.lb-tags p{
   color:#53526F;
   background-color: #EDECF4;
   margin: 0px 3px;
   padding: 2px  10px;
   border-radius: 16px;
   font-size: 16px;
}
.blog-img {
    text-align: -webkit-center;   
}
.blog-btn {
    padding: 15px 0px;
}
.blog-title p{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
/* latest-blog-section */


.client-review-section {
    margin: 50px 0px;
}
.client-title h4{
    color: #29273F;
}
.client-img  {
  text-align: -webkit-center;
}
.client-img img {
    margin: 0px 10px;
}
.client-card {
    background-color: #F0F1FD;
    padding: 30px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.client-p {
    font-weight: 500;
}

.records-management-section {
    margin: 50px 0px;
    
}
.records-management-section .records {
    background-color: #6565EE;
    border-radius: 16px;
}
.records .card-body {
    color:#fff;
} 
.records-content {
    align-content: center;
    padding: 30px;
}

.rd-btn a{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    color:#6565EE;
}
.records-img { 
    align-content: center;
    text-align: right;
    background-image: url("/assets/img/icon/Shapes.svg");

}

@media (max-width: 768px){
    .records-management-section .records {
       
        padding: 40px;
        text-align-last: center;
    }
}